body {
  margin: 0;
  background-color: rgb(254, 249, 246);

  font-family: 'Plus Jakarta Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fp{
  width: 85%;

} 

.fp_text1{
  margin-top:80px;
  font-size:14px;
  }

.fp_text2{
font-size: 40px;
font-weight:800;
}
.fp_text3
{
  font-size: 16px;
}

.desktop_br_1{
  display:none;
}

.fp_img {
  cursor: pointer;
}

.fp_img:hover img {
  content: url(https://embed.praisehive.com/_next/static/media/icon.12c4bb6f.svg);
}

.features_master{
  width:85%;
}
.features_text1{
  font-size:14px;
  font-family: 'Plus Jakarta Sans', sans-serif;

}

.features_text2{
  font-family: 'Plus Jakarta Sans', sans-serif;

  font-size:32px;
  font-weight:800;
  
}




.features_small_text1 p{
  font-size: 14px;
  font-weight: 700;

}
.features_small_text2{
  font-size: 28px;
  font-weight: 800;

}
.features_small_text3{
  font-size: 20px;
}
.feature_calender_mobile{
  display:none;
}
.desktop_br_1{
  display:none;
}


@media screen and (min-width: 900px) {

  .fp_text2{
    font-size: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
     }
     .mobile_br_1{
      display: none; 
  }

  .desktop_br_1{
    display:flex;
  }
     .fp_text3
{
  font-size: 20px;
} 
.features_main{
  display:flex
}
.features_text2{
  font-family: 'Plus Jakarta Sans', sans-serif;

  font-size:56px;
  font-weight:800;
  
}
.features_small_text_container{
  width:50%;
}
.feature_calender{
  width:50%;
}
.feature_calender_desktop{
  display:none;
}
.feature_last_section{
display: flex;
}
.feature_last_section_calender{
  width:33.3333%;
}
.feature_last_last1{
  margin-right: 6px;
}
.feature_last_last2{
  margin-left: 3px;
  margin-right: 3px;
}
.feature_last_last3{
  margin-left:6px;
}
.feature_calender_mobile{
  display:flex;
}

.pricing_main{
  display: flex;
}
.pricing_parts{
  width:33.3333%
}
.testimonial_main{
  display:flex;
}
.testimonial_part{
  width:50%;
}
}
